/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (max-width: 768px) {
    .mobile-sidebar {
        display: block;
    }  /* show it on small screens */


    .list-dtable > tbody > tr > td:nth-child(n+2):not(:last-child),
    .list-dtable > thead > tr > td:nth-child(n+2):not(:last-child){
       display:none;
    }
}


@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }

    .mobile-sidebar {
        display: none;
    }  /* show it on small screens */


}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 15px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.form-block {
    border-width: 0.2rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 1.5rem;
}

.save-btn {
    width: 20%;
    display: block;
}

.list-dtable > thead > tr > td {
    background-color: #167F92;
}

.list-dtable > tbody > tr:nth-child(even) {background: #D9E4E6}
.list-dtable > tbody > tr:nth-child(odd) {background: #FFF}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #167F92;
    border-color: #167F92;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #167F92;
    background-color: #D9E4E6;
}

.list-dcenter {
    text-align: center;
}

.dialogdemoBasicUsage #popupContainer {
    position: relative; }

.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px; }

.dialogdemoBasicUsage button {
    width: 200px; }

.dialogdemoBasicUsage div#status {
    color: #c60008; }

.fa-pencil {
    cursor: pointer;
}

.sort-arrows, .sort-arrows:hover, .sort-arrows:visited {
    color: #fff;
    text-decoration: none;
}

.spacer {
    margin-top: 10px;
}

.closeBtn {
    top: 0px;
    right: 36px;
    padding: 0px 4px;
    position: absolute;
    cursor: pointer;
}

.img-cover {
    position: relative;
    width: 50%;
}